@layer components{

  .btn-indigo {
    @apply px-6 py-3 text-sm font-bold text-white bg-indigo-600 rounded whitespace-nowrap;

    &:hover, &:focus { @apply bg-indigo-100 text-indigo-600 }
    &:disabled { @apply bg-gray-500 }
  }

  .btn-indigo-light {
    @apply px-6 py-3 text-sm uppercase font-bold text-indigo-700 bg-indigo-100 rounded whitespace-nowrap;

    &:hover, &:focus { @apply bg-indigo-500 text-white}
    &:disabled { @apply bg-gray-500 }
  }

  .btn-green {
    @apply px-6 py-3 text-sm font-bold text-white bg-green-600 rounded whitespace-nowrap;

    &:hover, &:focus { @apply bg-green-100 text-green-700}
  }

  .btn-red {
    @apply px-6 py-3 text-sm font-bold text-white bg-red-600 rounded whitespace-nowrap;

    &:hover, &:focus { @apply bg-red-100 text-red-600}
  }

  .btn-red-light {
    @apply px-6 py-3 text-sm font-bold text-red-600 bg-red-100 rounded whitespace-nowrap;

    &:hover, &:focus { @apply text-white bg-red-600}
  }

  .btn-gray {
    @apply px-6 py-3 text-sm font-bold text-white bg-gray-500 rounded whitespace-nowrap;

    &:hover, &:focus { @apply bg-gray-100 text-gray-800}
  }

  .btn-sm {
    @apply px-2 py-1 text-xs
  }

  .btn-spinner,
  .btn-spinner:after {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
  }

  .btn-spinner {
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: .2em solid white;
    border-right: .2em solid white;
    border-bottom: .2em solid white;
    border-left: .2em solid transparent;
    transform: translateZ(0);
    animation: spinning 1s infinite linear;
  }

  @keyframes spinning {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
  }
}
